<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div layout:fragment="header">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="home">Camp</a> by Frostmourne</h1>
        <nav id="nav">
            <ul>
                <li><a href="home">Home</a></li>
                <li>
                    <a href="" class="icon fa-angle-down">Info</a>
                    <ul>
                        <li><a href="find">Find my family</a></li>
                        <li><a href="vaccine">Vaccine</a></li>
                        <li><a href="security">Security</a></li>
                        <li><a href="all">All</a></li>
                    </ul>
                </li>
                <li><a href="camp">Camp</a></li>
                <li><a href="" class="icon fa-angle-down">SOS</a>
                    <ul>
                        <li><a href="sosmental">Mental Services</a></li>
                        <li><a href="sosphysical">Physical Services</a></li>
                        <li><a href="sosall">All Services</a></li>
                    </ul>

                </li>
                <li><a href="donate">Donation</a></li>
                <li><a href="#" class="button">Login</a></li>
                <li><a href="#" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>