<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div layout:fragment="header">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="home">iActivity</a> by SJBS</h1>
        <nav id="nav">
            <ul>
                <li><a href="home">主页</a></li>
                <li>
                    <a href="" class="icon fa-angle-down">聚会信息</a>
                    <ul>
                        <li><a href="trafficinfo">地点</a></li>
                        <li><a href="timeinfo">时间</a></li>
                        <li><a href="memberinfo">人员</a></li>

                    </ul>
                </li>

                <li><a href="activity">聚会活动</a>

                </li>
                <li><a href="same">同类</a></li>
                <li><a href="#" class="button">Login</a></li>
                <li><a href="#" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>