<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="landing">

<div layout:fragment="banner">
    <!-- Banner -->
    <section id="banner">
        <h2>iActivity</h2>

        <p>在这里让我们的聚会更完美</p>

    </section>
</div>

<div layout:fragment="main">
    <section id="main" class="container">

        <section class="box special">
            <header class="major">

                <h3 hidden="true" id="audioURLID" th:text="${audioUrl}"></h3>

                <h2>我们期待这次聚会更完美
                    <br/>
                    并且大家更熟悉</h2>

                <p>找到聚会信息?<br/> 找到聚会活动?<br/>
                    找到你身边不曾发现的同类<br/>
                    iActivity带来一次完美的聚会体验</p>
            </header>
            <!--<span class="image featured"><img src="images/pic01.jpg" alt=""/></span>-->
        </section>

        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-bolt accent2"></span>

                    <h3>找到聚会信息?</h3>

                    <p>在这里你可以找到关于聚会的所有信息 : 聚会地点, 聚会时间, 如何去. 让我们告诉你这一切你需要的信息</p>
                </section>
                <section>
                    <span class="icon major fa-area-chart accent3"></span>

                    <h3>找到聚会活动?</h3>

                    <p>查看朋友们提出的活动? 提出一个更有意思的活动? 提出一个对聚会的想法? 在这里活动由你做主.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-cloud accent4"></span>

                    <h3>同类?</h3>

                    <p>也许你身边正有着你并不知道的同类, 也许你可以发现小明和小红有着和你一样的兴趣? 在这里提交你的兴趣. 聚会的时候,由我们安排你们的私有活动时间</p>
                </section>
                <section>
                    <span class="icon major fa-lock accent5"></span>

                    <h3>注册成为会员, 我们的聚会会更好</h3>

                    <p>会员系统即将上线,敬请期待.</p>
                </section>
            </div>
        </section>
    </section>
</div>


<div layout:fragment="cta">
    <!-- CTA -->
    <section id="cta">

        <h2>Contact us to make it better</h2>

        <p>SJBS expecting to make a better world</p>

        <form action="mailto:youraddr@domain.tld" method="GET">
            <div class="row uniform 50%">
                <div class="8u 12u(3)">
                    <input type="email" name="email" id="email" placeholder="Email Address"/>
                </div>
                <div class="4u 12u(3)">
                    <a href="mailto:jamescheng16@gmail.com?Subject=[Camp]ReportIssues" class="button" target="_top">
                        Send</a>
                </div>
            </div>
        </form>

    </section>
</div>
<div layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('id', 'myAudio');

            var sourceElement = document.createElement('source');
            //var url = document.getElementById("audioURLID").innerHTML;
            var url = $(audioURLID).text();
            //sourceElement.setAttribute('src', url);
            console.log(url);
            sourceElement.setAttribute('src', url);
            sourceElement.setAttribute('type', 'audio/mpeg');

            audioElement.appendChild(sourceElement);

            document.getElementById("banner").appendChild(audioElement);


        });

        console.log("asdas");

        function aud_play_pause() {
            var myAudio = document.getElementById("myAudio");
            if (myAudio.paused) {
                myAudio.play();
            } else {
                myAudio.pause();
            }
        }
    </script>
</div>
<div layout:fragment="audio">
    <!---audio id="myAudio"-->
    <!--source src=th:text="${audioUrl} type="audio/mpeg"-->
    <!--/audio-->

</div>
</body>
</html>