<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div layout:fragment="main">
    <!-- Main -->
    <section id="main" class="container">
        <h2>聚会人数</h2>

        <div class="row">
            <div class="12u">
                <section class="box">

                    <p>这里将实时显示现在注册参加这次聚会的人数, 等我们的会员服务上线后,人员列表将开放给所有注册活动的人</p>

                </section>
            </div>
        </div>
    </section>
</div>

<div layout:fragment="script">
    <script>
        $("#header").attr("class", "skel-layers-fixed");
    </script>
</div>


<div layout:fragment="script">
    <script>
        $("#header").attr("class", "skel-layers-fixed");
    </script>
</div>
</body>
</html>